<div class="card">
    <h2>{{person.name}}</h2>
    <img src="../../assets/images/cards/{{getGender()}}.png" width="200" height="300">
    <div class="terms-container">
        <dl>
            <dt>Рост:</dt>
            <dd>{{person.height}} см</dd>
            <dt>Вес:</dt>
            <dd>{{person.mass}} кг</dd>
            <dt>Цвет кожи:</dt>
            <dd>{{person.skin_color}}</dd>
            <dt>Цвет волос:</dt>
            <dd>{{person.hair_color}}</dd>
        </dl>
    </div>
</div>
